
<!DOCTYPE html>
    <html>
      <head>
        <title>About Me</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
      	<link href="../resources/my_style.css" rel="stylesheet">
      </head>
      <body>
        <h1>Tran, Kathleen</h1>
        <p>I have five siblings and I am the youngest. I have a pet cat named Chu Meo.
          I am a junior at CU Boulder, studying to get a BS in computer science.
          I picked compsci because I enjoyed the previous coding classes I took.
        </p>
        <h2>My Professional Profile: </h2>
        <a href="github.com/437kathleen">GitHub</a>
        <br>
        <img src="../resources/IMG_01689.PNG" alt="Chu Meo in a sweater" height="400">
        <br>
        <div class="">

        </div>
        <h3>My Favorite Projects</h3>
        <table>
          <tr>
            <th>Name of the Project</th>
            <th>Technologies Used</th>
          </tr>
          <tr>
            <td>Oregon Trail</td>
            <td>C++</td>
          </tr>
          <tr>
            <td>Banking System</td>
            <td>C++</td>
          </tr>
          <tr>
            <td>Discrete Structures</td>
            <td>Python</td>
          </tr>
        </table>
        <h3>Countries Travelled</h3>
        <ul>
          <li>North America...</li>
          <li>Vietnam</li>
        </ul>
        <h3>My Interests</h3>
        <ol>
          <li>Chu Meo</li>
          <li>Origami</li>
          <li>Snacks</li>
        </ol>
      </body>
    </html>
